{% extends 'base.html.twig' %}

{% block title %}K Hotel Spa | Hôtel 5 étoiles Paris | Accueil{% endblock %}

{% block body %}

<div class="container-fluid mb-5 p-0">


    {# SECTION CAROUSEL #}
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('images/hotel/restaurant.webp') }}" class="d-block w-100" alt="..."
                    style="height: 820px; object-fit: cover;">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Une cuisine contemporaine dans l'élégance parisienne</h1>
                    <a href="#spa" class="btn btn-dark" style="width: 400px;">Découvrez nos offres de restauration</a>
                </div>
            </div>
        </div>
    </div>
    {# FIN SECTION CAROUSEL #}

    <div class="container-fluid my-5 py-3"
        style="height: 500px; background: #F5F3EF; display: flex; align-items: middle; padding: 0 100px;" id="spa">
        <div class="col-md-7 text-center m-auto">
            <h4 style="padding: 0 174px;">UNE CUISINE MODERNE, SAVOUREUSE ET PARISIENNE AU COEUR DU 16E ARRONDISSEMENT
            </h4>
            <p class="mt-5">Détendez-vous au bar où le décor chaleureux crée un cadre intime pour prendre le café,
                déguster un cocktail ou savourer un plat de notre menu à la carte.</p>
            <p>Notre bar est l’endroit idéal pour une réunion avec des amis ou des collègues dans un cadre parisien
                authentique.</p>
            <p>Commandez des plats savoureux à déguster dans le confort de votre chambre. Notre room service 24 heures
                sur 24 offre une gamme élaborée de plats à savourer à tout moment de la journée ou de la nuit.</p>
        </div>
    </div>

    <div class="container-fluid mb-5" style="padding: 0 100px;">
        <div class="card-chambre">
            <div class="row">
                <div class="col-md-6 p-0">
                    <img src="{{ asset('images/hotel/restaurant.webp') }}" alt="" style="height: 600px; width: 100%;">
                </div>
                <div class="col-md-6" style="display: flex; align-items: middle; background: #FFFFFF;">
                    <div class="card-text text-center my-auto px-5">
                        <h4 class="my-5">LE PETIT-DÉJEUNER</h4>
                        <p class="mb-5">Un déclieux et copieux petit-déjeuner vous attend au Majestic Hôtel - Spa Champs-Elysées, cinq étoiles luxe près des Champs-Élysees, Paris, dans le 16e arrondissement.</p>
                        <p>Dans une ambiance cosy et intime, vous aurez le choix entre différentes offres, afin de satisfaire tous les appétits et palais.</p>
                        <p>Nos mets se veulent simples, savoureux et modernes. Démarrez votre journée avec une parenthèse gourmande ou plus légère, au cœur de Paris.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-chambre">
            <div class="row">
                <div class="col-md-6 p-0" style="display: flex; align-items: middle; background: #FFFFFF;">
                    <div class="card-text text-center my-auto px-5">
                        <h4 class="mb-5">LE BAR</h4>
                        <p class="mb-5">Décor chic et convivial, à deux pas des Champs-Élysées et de l’Arc de Triomphe. Le bar offre une atmosphère parisienne et confidentielle au coeur du 16e arrondissement.</p>
                        <p>Lumière tamisée, œuvres contemporaines, fauteuils de style, atmosphère parisienne et confidentielle sont les attributs de cet espace où l’on se retrouve aussi bien autour d'un café que pour déguster l'un de nos fameux cocktails.</p>
                        <p>Vous avez également la possibilité de vous restaurer dans le salon attenant.</p>
                    </div>
                </div>
                <div class="col-md-6 p-0">
                    <img src="{{ asset('images/hotel/bar.webp') }}" alt="" style="height: 600px; width: 100%;">
                </div>
            </div>
        </div>
        <div class="card-chambre">
            <div class="row">
                <div class="col-md-6 p-0">
                    <img src="{{ asset('images/hotel/dejeuner.webp') }}" alt="" style="height: 600px; width: 100%;">
                </div>
                <div class="col-md-6" style="display: flex; align-items: middle; background: #FFFFFF;">
                    <div class="card-text text-center my-auto px-5">
                        <h4 class="my-5">SERVICE D'ÉTAGE</h4>
                        <p class="mb-5">Le service haut de gamme d'un hôtel 5 étoiles</p>
                        <p>Vous souhaitez prendre votre petit-déjeuner, déjeuner ou dîner dans le luxe de votre chambre d’hôtel ? Profitez alors du room-service au Majestic Hôtel - Spa.</p>
                        <p>Disponible 24 heures sur 24, le service d’étage propose une carte savoureuse et raffinée qui comblera vos envies à l'heure de votre choix. Un service haut de gamme pour ceux qui ne souhaitent pas quitter la douceur de leur chambre.</p>
                        <p>N'hésitez pas à profiter de notre room service : détente, intimité et calme seront de mise lors de votre dégustation.</p>
                        <p>Faites votre sélection, notre room-service se fera un plaisir de l’apporter à l'heure que vous souhaitez.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




{% endblock %}